<h4 class="c-edit"><span class="my-edit">会員情報編集</span></h4>

<div class="container main-edit pl-5">
  <%= render 'layouts/errors', obj: @customer %>
  <div class="row">

    <%= form_with model: @customer, local:true do |f| %>
      <table class="table table-borderless">
        <thead>
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
            <td><%= f.text_field :first_name, autocomplete: "first_name" %></td>
            <td></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :k_last_name, autocomplete: "k_last_name" %></td>
            <td><%= f.text_field :k_first_name, autocomplete: "k_first_name" %></td>
            <td></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postal_code, autocomplete: "postal_code" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>住所</td>
            <td colspan="3"><%= f.text_field :address, autocomplete: "address", size: "70"%></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.text_field :telephone_number, autocomplete: "telephone_number" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email, autocomplete: "email" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit '編集内容を保存', class:"btn btn-success px-5" %></td>
            <td></td>
            <td><%= link_to "退会する", confirm_confirm_path, class:"btn btn-danger px-4" %></td>
          </tr>
        </thead>
      </table>
    <% end %>
  </div>
</div>