<h4>マイページ</h4>
<table>
  <thead>
    <tr>
      <td>登録情報</td>
      <td><%= link_to "編集", edit_customer_path(current_customer.id) %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= @customer.last_name %></td>
      <td><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @customer.k_last_name %></td>
      <td><%= @customer.k_first_name %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <td>配送先</td>
      <td><%= link_to "一覧を見る", deliveries_path %></td>
    </tr>
    <tr>
      <td>注文履歴</td>
      <td><%= link_to "一覧を見る", orders_path %></td>
    </tr>
  </thead>
</table>
