<% deliveries.each do |delivery| %>
  <tr>
    <td class="border border-dark"><%= delivery.postal_code %></td>
    <td class="border border-dark"><%= delivery.address %></td>
    <td class="border border-dark"><%= delivery.name %></td>
    <td class="border border-dark mr-3">
      <%= link_to "編集する", edit_delivery_path(delivery), class: "btn btn-success form mr-3" %>
      <%= link_to "削除する", delivery_path(delivery.id), method: :delete, remote: true, class: "btn btn-danger", "data-confirm" => "本当に消しますか？" %>
    </td>
  </tr>
<% end %>
