<h1>配送先編集</h1>
<table>
  <tbody>
    <%= form_with model: @delivery, url: deliveries_path, local:true do |f| %>
    <tr>
      <td>郵便番号（ハイフンなし）</td>
      <td><%= f.text_field :postal_code, placeholder: "0000000", autofocus: true, autocomplete: "postal_code" %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address, placeholder: "東京都渋⾕区代々⽊神園町0-0", autofocus: true, autocomplete: "address" %></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name, placeholder: "平成太郎", autofocus: true, autocomplete: "name" %></td>
    </tr>
  </tbody>
</table>
<div><%= f.submit '変更内容を保存' %></div>
<% end %>
