
<h4 class="mypage-title"><span class="mypage">配送先登録/一覧</span></h4>

<div class="container delivery-index body">

<%= render 'layouts/errors', obj: @delivery %>

<div class="row wrapper">
  <div class="col-md-9" >
    <%= form_with model:@delivery, local: false do |f| %>
      <table class='table table-borderless table-sm'>
        <tr>
          <th width="36%">
            <p>郵便番号（ハイフンなし）</p>
          </th>
          <td width="60%"><%= f.text_field :postal_code, autofocus: true, placeholder:"0000000", class:'text' %></td>
        </tr>
        <tr>
          <th>
            <p>住所</p>
          </th>
          <td><%= f.text_field :address, autofocus: true, placeholder:"東京都渋⾕区代々⽊神園町0-0", style: "width: 100%;", class:'text' %></td>
        </tr>
        <tr>
          <th>
            <p>宛名</p>
          </th>
          <td><%= f.text_field :name, autofocus: true, placeholder:"令和道⼦", class:'text' %></td>
          <td><%= f.submit "新規登録", class: "btn btn-success px-4" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
<br>

<div class="row mt-5">
  <div class="col-md-9">
     <table bgcolor="#FFF" class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th class="border border-dark">郵便番号</th>
          <th class="border border-dark">住所</th>
          <th class="border border-dark">宛名</th>
          <th class="border border-dark"></th>
        </tr>
      </thead>

      <tbody class="deliveries">
        <%= render 'deliveries', deliveries: @deliveries %>
      </tbody>

    </table>
  </div>
</div>

</div>