<h3 class="bg-light">ジャンル編集</h3>

<%= render 'layouts/errors', obj: @genre %>

<%= form_with model: @genre, url: admins_genre_path, local:true do |f| %>
　<%= f.label :ジャンル名 %>
  <%= f.text_field :name %>
  <%= f.submit "変更を保存" ,class: 'btn btn-sm btn-success' %>
<% end %>
