
<h4 class="title"><span class="mypage">ジャンル編集</span></h4>
<div class="container">
    <div class="col-10 my-4">
      <%= render 'layouts/errors', obj: @genre %>
      <%= form_with model: @genre, url: admins_genre_path, local:true do |f| %>
        <div class="row">
          <%= f.label :"ジャンル名", class: 'mt-2 mr-5 ' %>
          <%= f.text_field :name, placeholder: "ジャンル名", class: 'form-control col-4 mr-5' %>
          <%= f.submit "変更を保存",class: 'btn btn-sm btn-success px-4' %>
        </div>
      <% end %>
    </div>
</div>