
<h3 class="mt-2 ml-5"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>

<%= render 'layouts/errors', obj: @customer %>

  <%= form_with model: @customer, url: admins_customer_path, local: true do |f| %>

    <table class="table table-borderless col-lg-7 mt-5 ml-5">
      <thead>
        <tr>
          <th><h7 class="col-lg-4">会員ID</h7></th>
          <th><%= @customer.id %></th>
          <th></th>
        </tr>
        <tr>
          <th><h7 class="col-lg-4">氏名</h7></th>
          <th><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></th>
          <th><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></th>
        </tr>
        <tr>
          <th><h7 class="col-lg-4">フリガナ</h7></th>
          <th><%= f.text_field :k_last_name, autofocus: true, autocomplete: "k_last_name" %></th>
          <th><%= f.text_field :k_first_name, autofocus: true, autocomplete: "k_first_name" %></th>
        </tr>
        <tr>
          <th><h7 class="col-lg-4">郵便番号</h7></th>
          <th><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></th>
          <th></th>
        </tr>
        <tr>
          <th><h7 class="col-lg-4">住所</h7></th>
          <th cplspan="2"><%= f.text_field :address, size: 50, autofocus: true, autocomplete: "address" %></th>
        </tr>
        <tr>
          <th><h7 class="col-lg-4">電話番号</h7></th>
          <th><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></th>
          <th></th>
        </tr>
        <tr>
          <th><h7 class="col-lg-4">メールアドレス</h7></th>
          <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
          <th></th>
        </tr>
        <tr>
          <th><h7 class="col-lg-4">会員ステータス</h7></th>
          <th><%= f.radio_button :is_valid, :true %>
          <%= f.label :is_valid, "有効", {value: :true, style: "display: inline-block;"} %>
          <%= f.radio_button :is_valid, :false %>
          <%= f.label :is_valid, "退会", {value: :false, style: "display: inline-block;"} %></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th><%= f.submit "変更を保存", class: "btn btn-success" %></th>
          <th></th>
        </tr>
      </thead>
    </table>
  <% end %>

