<div class="row mt-2 ml-5">
  <div class="col-lg-4">
    <h5 class="bg-light"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h5>
  </div>
</div>

<div class="row mt-3 ml-5">
  <div class="col-lg-4">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>会員ID</th>
          <th><%= @customer.id %></th>
        </tr>
        <tr>
          <th>氏名</th>
          <th><%= @customer.last_name %>　<%= @customer.first_name %></th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th><%= @customer.k_last_name %>　<%= @customer.k_first_name %></th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th><%= @customer.postal_code %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%= @customer.address %></th>
        </tr>
        <tr>
          <th>電話番号</th>
          <th><%= @customer.telephone_number %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @customer.email %></th>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <% if @customer.is_valid == true %>
          <td class="text-success">有効</td>
          <% else %>
          <td class="text-secondary">退会</td>
          <% end %>
        </tr>
      </thead>
    </table>
  </div>

</div>

<div class="row-lg-3 ml-8">
  <div class="col ml-5">
<%= link_to "編集する", edit_admins_customer_path, class: "btn btn-success" %>

<%= link_to "注文履歴一覧を見る", {controller: 'orders', action: 'index', id: @customer.id}, class: "btn btn-primary" %>
  </div>
</div>