
<div class="conrainer">
  <div class="row col-8 m-auto">
    <h4 class="title font-weight-bold bg-light">　管理者ログイン　</h4>
  </div>
  
  <div class="row">
    <div class="mx-auto">
    <%= form_with model:@admin, url: admin_session_path, local: true do |f| %>
      <table>
        <thead>
          <tr>
            <th><%= f.label "メールアドレス" %></th>
            <th><%= f.email_field :email, size: 50, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" %></th>
          </tr>
          <tr>
            <th><%= f.label "パスワード" %></th>
            <th><%= f.password_field :password, size: 50, autocomplete: "current-password" %></th>
          </tr>
          <tr>
            <th></th>
          <th>
            <div class="actions">
            <%= f.submit "ログイン", class:"btn btn-primary" %>
            </div>
          </th>
        </thead>
      </table>
    <% end %>
    </div>
  </div>
</div>