<div class='row'>
  <div class="col-md-6">
    <h4 class="text-center">商品編集</h4>
  </div>
</div><br>
<div class='row'>
  <div class="col-md-8 offset-md-4">
    <%= render 'layouts/errors', obj: @item %>
    <%= form_with model: @item, url: admins_item_path, local:true do |f| %>
    <div class="form-inline">
      <div class="col-sm-2">商品画像</div>
      <div class="col-sm-8 form-inline">
        <%= f.file_field :image %>
      </div>
    </div><br>
    <div class="form-inline">
      <div class="col-sm-2">商品名</div>
      <div class="col-sm-8 form-inline">
        <%= f.text_field :name %>
      </div>
    </div><br>
    <div class="form-inline">
      <div class="col-sm-2">商品説明</div>
      <div class="col-sm-8 form-inline">
        <%= f.text_area :introduction %>
      </div>
    </div><br>
    <div class="form-inline">
      <div class="col-sm-2">ジャンル</div>
      <div class="col-sm-8 form-inline">
        <%= f.collection_select(:genre_id, Genre.all, :id, :name) %>
       </div>
    </div><br>
    <div class="form-inline">
      <div class="col-sm-2">税抜価格</div>
      <div class="col-sm-8 form-inline">
        <%= f.text_field :taxfree %>円
      </div>
    </div><br>
    <div class="form-inline">
       <div class="col-sm-2">販売ステータス</div>
       <div class="col-sm-8 form-inline">
         <%= f.radio_button :is_valid, 'true' %>
         <%= f.label :is_valid, "販売中", {value: true, style: "display: inline-block;"} %>
         <%= f.radio_button :is_valid, 'false' %>
         <%= f.label :is_valid, "販売停止中", {value: false, style: "display: inline-block;"} %>
       </div>
    </div><br>
  </div>
</div>
<div class='col-12'>
  <div class="text-center">
    <%= f.submit '変更を保存', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>