<h2>商品一覧</h2>
<div>
  <table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税込価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <% @items.each do |item| %>
          <td><%= item.id %></td>
          <td><%= link_to admins_item_path(item.id) do %>
                <%= item.name %>
              <% end %>
          </td>
          <td><%= item.taxfree %></td>
          <td><%= item.genre %></td>
          <td><%= item.is_varid %></td>
          <% end %>
          <%= paginate @items %>
        </tr>
    </tbody>
  </table>
</div>
