<div class="private-product">
	  <div class="private-product-title">
		  <h4 class="title"><span class="mypage">商品一覧</span></h4>
		</div>
		<div class="new-registrarion-btn">
			<%= link_to "＋", new_admins_item_path, class: "btn btn-outline-dark", style: "border-radius: 100%" %>
		</div>
</div>

<div class="container">
  <div class="row col-10 mx-auto">
    <table class="table table-hover table-inverse">
      <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to admins_item_path(item.id) do %>
                <p class="text-body"><%= item.name %></p>
                <% end %>
            </td>
            <td><%= (item.taxfree * 1.1).round.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <% if item.is_valid == true %>
              <td class="text-success">販売中</td>
            <% else %>
              <td class="text-secondary">販売停止中</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
      <div class="row col-10 pb-3 justify-content-center">
        <%= paginate @items %>
      </div> 
    </div> 
  </div>
</div>