<h2>商品新規登録</h2>
<%= form_with model: @item, local:true do |f| %>
<br><h5>商品画像</h5>
  <%= f.file_field :image %>
  <!--bootstrapを書き込んでから修正する-->
<h5>商品名</h5>
  <%= f.text_field :name %>
<h5>商品説明</h5>
  <%= f.text_area :introduction %>
<h5>ジャンル</h5>
  <%= f.select :name, [['ケーキ'], ['焼き菓子'], ['プリン']] %>  
<h5>税抜き価格</h5>
  <%= f.text_field :taxfree %>
<h5>販売ステータス</h5>
  <%= form_with model: @item, local: true do |from| %>
  <%= f.radio_button :is_varid, :male %>
  <%= f.label :is_varid, "販売中", {value: :male, style: "display: inline-block;"} %>
  <%= f.radio_button :is_varid, :female %>
  <%= f.label :is_varid, "販売停止中", {value: :female, style: "display: inline-block;"} %>
  <% end %>
<p><%= f.submit '新規登録' %></p>
<% end %>
