<div class='row'>
  <div class="col-md-3">
    <h4 class="text-right">商品詳細</h4><br>
    <div class="text-right"><%= attachment_image_tag(@item, :image, :fill, 150, 150, format: 'jpeg', fallback: "img/no_image.jpg") %></div>
  </div><br>
  <div class="col-sm-8 offset-md-1"><br><br>
    <div class="form-inline">
      <label class="col-sm-2">商品名</label>
      <div class="col-sm-6">
         <%= @item.name %>
      </div>
    </div><br>
    <div class="form-inline">
      <label class="col-sm-2">商品説明</label>
      <div class="col-sm-6">
         <%= @item.introduction %>
      </div>
    </div><br>
    <div class="form-inline">
      <label class="col-sm-2">ジャンル</label>
      <div class="col-sm-6">
         <%= @item.genre.name %>
      </div>
    </div><br>
    <div class="form-inline">
      <label class="col-sm-2">税込価格<br>（税抜価格）</label>
      <div class="col-sm-6">
        <%= (@item.taxfree * 1.1).round.to_s(:delimited) %> (<%= @item.taxfree.to_s(:delimited) %>)円
      </div>
    </div><br>
    <div class="form-inline">
      <label class="col-sm-2">販売ステータス</label>
      <div class="col-sm-6">
        <% if @item.is_valid == true %>
        <div class="text-success">販売中</div>
        <% else %>
        <div class="text-secondary">販売停止中</div>
      　<% end %>
      </div>
    </div>
</div>
 <div class="col-11">
    <div class="text-center">
      <br><%=link_to "編集する", edit_admins_item_path(@item), class: 'btn btn-success' %>
    </div>
 </div>

