<h4 class="new-title"><span class="new">商品詳細</span></h4>
<div class="container thanks">
  <div class='row'>
    <div class="col-md-4">
      <div class="text-center">
        <%= attachment_image_tag(@item, :image, :fill, 300, 200, format: 'jpeg', fallback: "img/no_image.jpg") %>
      </div>
    </div>
    <div class="col-md-8"><br>
      <div class="form-inline">
        <div class="col-sm-3">商品名</div>
        <div class="col-sm-8">
           <%= @item.name %>
        </div>
      </div><br>
      <div class="form-inline">
        <div class="col-sm-3">商品説明</div>
        <div class="col-sm-8">
           <%= @item.introduction %>
        </div>
      </div><br>
      <div class="form-inline">
        <div class="col-sm-3">ジャンル</div>
        <div class="col-sm-8">
           <%= @item.genre.name %>
        </div>
      </div><br>
      <div class="form-inline">
        <div class="col-sm-3">税込価格<br>(税抜価格)</div>
        <div class="col-sm-8">
          <%= (@item.taxfree * 1.1).round.to_s(:delimited) %> (<%= @item.taxfree.to_s(:delimited) %>)円
        </div>
      </div><br>
      <div class="form-inline">
        <div class="col-sm-3">販売ステータス</div>
        <div class="col-sm-8">
          <% if @item.is_valid == true %>
          <div class="text-success">販売中</div>
          <% else %>
          <div class="text-secondary">販売停止中</div>
      　  <% end %>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class="text-center">
         <br><%=link_to "編集する", edit_admins_item_path(@item), class: 'btn btn-success px-4' %>
      </div>
   </div>
  </div>
</div>


