<h4 class="new-title"><span class="new">ログイン</span></h4>
<div class="container">
  <div class="col-lg-4">
    <div class="text-center">
      <h5 class="text-dark">会員の方はこちらからログイン</h5>
    </div>
  </div>
  <%= form_with model:@customer, url: customer_session_path, local: true do |f| %>
  <div class="mt-3 ml-7 offset-2">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th><%= f.label "メールアドレス" %></th>
          <th><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email", class: "hoge", size: 40 %></th><br>
        </tr>
        <tr>
          <th><%= f.label "パスワード" %></th>
          <th><%= f.password_field :password, autocomplete: "current-password", class: "hoge", size: 40 %></th><br>
        </tr>
        <tr>
          <th></th>
          <th><%= f.submit "ログイン", class: 'btn btn-primary' %></th>
        </tr>
      </thead>
    </table>
  </div>
  <% end %>
  <div>
    <h5 class="text-dark">会員登録がお済みでない方</h5>
    <%= link_to "こちら", new_customer_registration_path %>　から会員登録を行ってください。
  </div>
</div>