<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <h3 class="mypage-title"><span class="mypage">注文情報確認</span></h3>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr bgcolor="#EEEEEE">
            <th class="border border-dark">商品名</th>
            <th class="border border-dark">単価（税込）</th>
            <th class="border border-dark">数量</th>
            <th class="border border-dark">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="border border-dark">
              <div class="image ">
                <%= attachment_image_tag cart_item.item, :image, fallback: "img/no-image.jpg", size: "75x50" %>
                <%= cart_item.item.name %>
              </div>
            </td class="border border-dark">
            <td class="border border-dark align-middle"><%= (cart_item.item.taxfree * 1.1).round.to_s(:delimited) %></td>
            <td class="border border-dark align-middle"><%= cart_item.number %></td>
            <td class="border border-dark align-middle"><%= (cart_item.item.taxfree * 1.1 * cart_item.number).round.to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="border border-dark" bgcolor="#EEEEEE">送料</td>
                  <td class="border border-dark"><%= 800 %></td>
                </tr>
                <tr>
                  <td class="border border-dark" bgcolor="#EEEEEE">商品合計</td>
                  <td class="border border-dark"><%= converting_to_jpy(@total_payment.to_i) %></td>
                </tr>
                <tr>
                  <td class="border border-dark" bgcolor="#EEEEEE">請求金額</td>
                  <td class="border border-dark"><%= converting_to_jpy(@total_payment.to_i + 800) %></td>
                </tr>
            </tbody>
          </table>
        </div>
         <div class="col-1"></div>
      </div>
    </div>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-1"></div>
    <table>
      <thead>
        <tr width="80" height="50">
          <td><strong>支払方法</strong></td>
          <td width="20"></td>
          <td><%= @order.payment_method %></td>
        </tr>
      </thead>
      <tbody>
        <tr width="80" height="50">
          <td><strong>お届け先</strong></td>
          <td></td>
          <td>〒<%= @order.postal_code %><%= @order.address %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= @order.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= form_with model: @order, url: orders_path, local: true do |f| %>
  <%= f.hidden_field :shipping, value:800 %>
  <%= f.hidden_field :total_payment, value:@total_payment.to_i %>
  <%= f.hidden_field :customer_id, value:@customer.id %>
  <%= f.hidden_field :payment_method, value:@order.payment_method %>
  <%= f.hidden_field :postal_code, value:@order.postal_code %>
  <%= f.hidden_field :address, value:@order.address %>
  <%= f.hidden_field :name, value:@order.name %>
  <%= f.hidden_field :customer_id, value:@customer.id %>
  <div class="container-fluid body">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-md-6 offset-md-4"><%= f.submit "注文を確定する" ,class: 'btn btn-sm btn-success px-4' %></div>
    </div>
  </div>
<% end %>