<h3>注文情報確認</h3>




  <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th></th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>

      <tr>
        <td><%= attachment_image_tag cart_item.item, :image, fallback: "img/no-image.jpg", size: "75x50" %></td>
        <td><%= cart_item.item.name %></td>

        <td><%= (cart_item.item.taxfree * 1.1).round.to_s(:delimited) %></td>

        <td><%= cart_item.number %></td>
        <td><%= (cart_item.item.taxfree * 1.1 * cart_item.number).round.to_s(:delimited) %></td>
      </tr>

      <% end %>
    </tbody>
  </table>


<%= form_with model: @order, url: orders_path, local: true do |f| %>

  <table class="table">


  <table>

    <tbody>
      <tr>
        <td>送料</td>
        <td><%= f.text_field :shipping, value: 800, readonly: true, class: "border border-0 border-primary" %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= f.text_field :total_payment, value: @total_payment.to_i, readonly: true, class: "border border-0 border-primary" %></td>
      </tr>
      <tr>
        <td>請求金額</td>

        <td><%= converting_to_jpy(@total_payment.to_i + 800) %></td>

      </tr>
    </tbody>
  </table>

  <table class="table">

    <thead>
      <tr>
        <td>支払い方法</td>
        <td><%= @order.payment_method %></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>お届け先</td>
        <td>

          〒<%= @order.postal_code %><%= @order.address %></br>

          <%= @order.name %>
        </td>
      </tr>
    </tbody>
  </table>


  <%= f.hidden_field :customer_id, value:@customer.id %>

  <%= f.hidden_field :payment_method, value:@order.payment_method %>
  <%= f.hidden_field :postal_code, value:@order.postal_code %>
  <%= f.hidden_field :address, value:@order.address %>
  <%= f.hidden_field :name, value:@order.name %>
  <%= f.hidden_field :customer_id, value:@customer.id %>
  <%= f.submit "注文を確定する" ,class: 'btn btn-sm btn-success' %>
<% end %>