<h3>注文情報確認</h3>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th></th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |order_item| %>
      <tr>
        <td><%= attachment_image_tag order_item.item, :image, fallback: "img/no-image.jpg", size: "75x50" %></td>
        <td><%= order_item.item.name %></td>
        <td><%= order_item.price %></td>
        <td><%= order_item.number %></td>
        <td><%= order_item.price * order_item.number %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td>送料</td>
        <td><%= @order.shipping %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @order.total_payment %></td>
      </tr>
      <tr>
        <td>請求金額</td>
        <td><%= @order.total_payment + @order.shipping %></td>
      </tr>
    </tbody>
  </table>
