<div class="row">
    <h4 class="col-md-12 title font-weight-bold">注文履歴一覧</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
    <table bgcolor="#FFF" class="table table-bordered shadow">
      <thead  class="bg-secondary text-light">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <th><%= order.created_at.strftime('%Y/%m/%d') %></th>
          <th>
            〒<%= order.postal_code %><br />
            <%= order.address %><br />
            <%= order.name %>
          </th>
          <th>
            <% order.order_items.each do |order_item| %>
              <%= order_item.item.name %><br />
            <% end %>
          </th>
          <th class="align-middle"><%= converting_to_jpy(order.total_payment + order.shipping) %>円</th>
          <th class="align-middle"><%= order.status %></td></th>
          <th class="align-middle"><%= link_to '表示する', order_path(order.id), class: 'btn btn-info' %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>