 <%= form_with model: @order, url: orders_confirm_path, local: true do  |f| %>
  　<%= f.label :宛名 %>
    <%= f.text_field :name %>
    <%= f.submit "新規登録" ,class: 'btn btn-sm btn-primary' %>
  <% end %>
<div class="container mb-auto">
  <div class="row">
    <div class="col-md-10 mx-auto">
    <h4 class="font-weight-bold">
      注文情報入力
    </h4>
    </div>
  </div>
  <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
  <div class="row">
    <h5 class="font-weight-bold">支払い方法</h4>
  </div>
  <div class="row form-check">
    <%= f.radio_button :payment_method, :"クレジットカード", checked: true %>
    <%= f.label :payment_method, 'クレジットカード' %>
  </div>
  <div class="row form-check">
      <%= f.radio_button :payment_method, :"銀行振込" %>
      <%= f.label :payment_method, '銀行振込' %>
  </div>
  <div class="row justify-content-center">
    <%= f.submit '確認画面へ進む', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>