<h1>注文履歴詳細</h1>
<table>
  <tbody>
    <tr>
      <th>注文情報</th>
    </tr>
    <tr>
      <td>注文日</td>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td>
        〒<%= @order.postal_code %>
        <%= @order.address %>
      </td>
    </tr>
    <tr>
      <td>支払い方法</td>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td><%= @order.status %></td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <th>請求情報</th>
    </tr>
    <tr>
      <td>商品合計</td>
      <td><%= converting_to_jpy(@order.total_payment) %></td>
    </tr>
    <tr>
      <td>配送料</td>
      <td><%= converting_to_jpy(@order.shipping) %></td>
    </tr>
    <tr>
      <td>ご請求額</td>
      <td><%= converting_to_jpy(@order.total_payment + @order.shipping) %></td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <th>注文内容</th>
    </tr>
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
    <% @order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.item.name %></td>
      <td><%= converting_to_jpy(order_item.price) %></td>
      <td><%= order_item.number %></td>
      <td><%= converting_to_jpy(order_item.price * order_item.number) %></td>
    </tr>
    <% end %>
  </tbody>
</table>