<h4 class="mypage-title"><span class="mypage">注文履歴詳細</span></h4>
<div class="container-fuild">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-1">注文情報</div>
    <div class="col-4"></div>
    <div class="col-1 ml-2">請求情報</div>
  </div>
</div>
<div class="container-fuild">
  <div class="row">
    <div class="col-1"></div>
    <table class="col-5 table table-bordered">
      <tbody>
        <tr>
          <td  class="border border-dark" bgcolor="#EEEEEE">注文日</td>
          <td class="border border-dark"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="border border-dark align-middle" bgcolor="#EEEEEE">配送先</td>
          <td class="border border-dark">
          〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="border border-dark" bgcolor="#EEEEEE">支払い方法</td>
          <td class="border border-dark"><%= @order.payment_method %></td>
        </tr>
        <tr>
          <td class="border border-dark" bgcolor="#EEEEEE">ステータス</td>
          <td class="border border-dark"><%= @order.status %></td>
        </tr>
      </tbody>
    </table>
    <table class="col-3 table table-bordered ml-3">
      <tbody>
        <tr>
          <td class="border border-dark" width="130" bgcolor="#EEEEEE">商品合計</td>
          <td class="border border-dark" width="130"><%= converting_to_jpy(@order.total_payment) %></td>
        </tr>
        <tr>
          <td class="border border-dark" bgcolor="#EEEEEE">配送料</td>
          <td class="border border-dark"><%= converting_to_jpy(@order.shipping) %></td>
        </tr>
        <tr>
          <th class="border border-dark" bgcolor="#EEEEEE">ご請求額</th>
          <td class="border border-dark"><%= converting_to_jpy(@order.total_payment + @order.shipping) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container-fuild">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-1">注文内容</div>
  </div>
</div>
<div class="container-fuild">
    <div class="row">
      <div class="col-1"></div>
      <table class="col-6 table table-bordered">
        <thead>
        <tr bgcolor="#EEEEEE">
          <td class="border border-dark">商品</td>
          <td class="border border-dark" width="130">単価（税込）</td>
          <td class="border border-dark" width="70">個数</td>
          <td class="border border-dark" width="70">小計</td>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
        <tr class="border border-dark">
          <td class="border border-dark"><%= order_item.item.name %></td>
          <td class="border border-dark"><%= converting_to_jpy(order_item.price) %></td>
          <td class="border border-dark"><%= order_item.number %></td>
          <td class="border border-dark"><%= converting_to_jpy(order_item.price * order_item.number) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>