<p id="notice"><%= notice %></p>
<h4 class="title"><span class="mypage">注文履歴一覧</span></h4>
<div class="container">
  <div class="row col-10 mx-auto">
    <!--<h4 class="my-3">注文履歴一覧</h4>-->
    <table class="table table-hover table-inverse">
      <thead class="thead-light">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>
          <%= link_to admins_order_path(order) do %>
                <p class="text-body"><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
                <% end %>
          </td>
          <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
          <td><%= order.order_items.all.sum(:number) %></td>
          <td><%= order.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row col-10 pb-3 justify-content-center">
      <%= paginate @orders %>
    </div> 
  </div>
</div>