<div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h3 class="bg-light">注文履歴詳細</h3>
    <%= form_with model: @customer, url: admins_orders_path, method: :get, local:true do |f| %>
    <div class="group">
      <label class="購入者"><%= customer.name %></label>
    </div>
    <div class="group">
      <label class="注文日"><%= customer.created_at.strftime('%Y/%m/%d') %></label>
    </div>
    <div class="group">
      <label class="配送先"><%= customer.payment_method %></label>
    </div>
     <div class="group">
      <label class="配送先"><%= customer.status %></label>
    </div>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.name %></td>
            <td><%= order_item.price.to_s(:delimited) %></td>
            <td><%= order_item.number %></td>
            <td><%= order_item.total_price %></td>
            <td><%= order_item.makingstatus %></td>
            <td><%= f.submit '更新', class: 'btn btn-success' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>