<h4 class="new-title"><span class="new">注文履歴詳細</span></h4>

<div class='row'>
  <div class="col-lg-10 offset-1">
    <p id="notice"><%= notice %></p>
    <table class="table table-borderless">
        <thead>
          <tr>
            <td><strong>購入者</strong></td>
            <td>
              <%= link_to  admins_customer_path(@order.customer) do %>
              <span class="text-body"><%= @order.customer.last_name %><%= @order.customer.first_name %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>注文日</strong></td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td><strong>配送先</strong></td>
            <td>〒<%=@order.postal_code %> <%= @order.address %><br><%= @order.name %></td>
          </tr>
          <tr>
            <td><strong>支払方法</strong></td>
            <td><%= @order.payment_method %></td>
          </tr>
          <tr>
            <td><strong>注文ステータス</strong></td>
            <td>
              <%= form_with model: @order, url: admins_order_path(@order), local: true do |f| %>
              <%= f.select :status, Order.statuses.keys.to_a, {}, class: "mr-3"%>
              <%= f.submit "更新", class: 'btn btn-success' %>
            </td>
            <% end %>
          </tr>
        </thead>
    </table>
  </div>
  <div class="col-lg-7 offset-1">
    <table class="table table-borderless border-top border-bottom">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
        <%= form_with model: order_item, url: admins_order_item_path(order_item), local: true do |f| %>
        <tr>
          <td><%= order_item.item.name %></td>
          <td><%= converting_to_jpy(order_item.price) %></td>
          <td><%= order_item.number %></td>
          <td><%= converting_to_jpy(order_item.price * order_item.number) %></td>
          <td><%= f.select :making_status, OrderItem.making_statuses.keys.to_a, {}%></td>
          <td><%= f.submit "更新", class: 'btn btn-success'%></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <div class="absolute" style="position: absolute; bottom: 0;">
      <table class="table table-borderless table-bottom">
        <tr>
          <th>商品合計</th>
          <td><%= converting_to_jpy(@order.total_payment.to_i) %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td class="text-right"><%= converting_to_jpy(@order.shipping) %>円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <th><%= converting_to_jpy(@order.total_payment + @order.shipping) %>円</th>
        </tr>
      </table>
    </div>
  </div>
</div>
