<div class="container-fluid zei body">
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="mt-5 my-box col float-right">
      <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: 'img/no_image.jpg', size:'450x250'%>
    </div>
    <div class="mt-5 my-box col w-25 ">
      <h3><%= @item.name %></h3>
      <%= @item.introduction %>
      <div class="zei">
          <h4>¥<%= (@item.taxfree * 1.1).round.to_s(:delimited) %></h4>
          <p>（税込）</p>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-8"></div>
    <div class="my-box col">
      <% if @item.is_valid == true && customer_signed_in? == true %>
        <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
        <%= f.select :number, options_for_select((1..100).to_a), include_blank: "個数選択" %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる", class: "btn btn-success shadow"%>
        <% end %>
      <% elsif @item.is_valid == true && customer_signed_in? == false %>
        <div><%= "会員登録後にご購入頂けます" %></div>
      <% else %>
        <div><%= "Sold Out" %></div>
      <% end %>
    </div>
  </div>
</div>
