  <header>
    <nav>
      <%= image_tag('img/logo3.png', class: 'logo-image') %>
      <ul>
        <% if customer_signed_in? %>
          <li>ようこそ、<%= @customer.last_name %>！</li>
          <li><%= link_to "マイページ", customer_path(current_customer.id) %></li>
          <!--リンクは適当-->
          <li><%= link_to "商品一覧", items_path %></li>
          <li><%= link_to "カート", about_path %></li>
          <!--リンクは適当-->
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
        <% elsif admin_signed_in? %>
          <li>管理者</li>
          <li><%= link_to "商品一覧", about_path %></li>
          <!--リンクは適当-->
          <li><%= link_to "会員一覧", about_path %></li>
          <!--リンクは適当-->
          <li><%= link_to "注文商品一覧", about_path %></li>
          <!--リンクは適当-->
          <li><%= link_to "ジャンル一覧", admins_genres_path %></li>
          <!--リンクは適当-->
          <li><%= link_to "ログアウト", destroy_admin_session_path %></li>
        <% else %>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "商品一覧", items_path %></li>
          <li><%= link_to "新規登録", new_customer_registration_path %></li>
          <li><%= link_to "ログイン", new_customer_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>